<!DOCTYPE html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>MiscServer</title>
</head>

<body>
  <h1>MiscServer</h1>
  <p>A heroku server that runs all the various things I might need a server for</p>
  <p>Yeah there's nothing to see here, have a nice day!</p>
</body>

</html>